# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:  # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:
    types: ["checks_requested"]

jobs:
  build:
    name: "Build & Test"
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:43
      options: --privileged
    env:
      # workaround for expired cert at source of indirect dependency
      # (go.opencensus.io/trace)
      GOPROXY: "https://proxy.golang.org,direct"
    steps:
      - uses: actions/checkout@v6
      - name: Install Golang
        run: dnf install -y golang
      - name: Vendor Go dependencies
        run: go mod vendor
      - name: Setup osbuild repository
        run: python3 test/scripts/setup-osbuild-repo
      - name: Install dependencies
        run: |
          # we have the same build-deps as the images library
          curl -sL https://raw.githubusercontent.com/osbuild/images/refs/heads/main/pyproject.toml > pyproject.toml
          curl -sL https://raw.githubusercontent.com/osbuild/images/refs/heads/main/test/scripts/install-dependencies | bash
          # we also need createrepo_c
          dnf install -y createrepo_c
      - name: Check osbuild version
        run: python3 test/scripts/check-osbuild-version
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
